body{
	text-align: center;
	font-size: 2em;
	font-family: Luckiest Guy, cursive;
	color: aqua green;
	background-color: #49ffd4;
	background-image: url("Charmander.gif")
}
p{
	font-family: Ubuntu Mono, monospace;
}

#about{
	/*CSS comment*/
	color: #11f9da;
	text-transform: uppercase;
}

#music{
	/*CSS comment*/
	color: #6944fc;
	text-transform: uppercase;
}

p{
	color: blue;
}

nav ul li{
	display: inline;
}

h1{
/*Target every <h1> and every <h2>*/
font-style: italic;
}